# Core functionality - changes here should be rare!
/src/app.py                   @KiyomiTsukamoto2345
/src/backend/database.py      @KiyomiTsukamoto2345
/src/backend/routers/auth.py  @KiyomiTsukamoto2345

# The frontend will need refactored soon to be more object oriented.
/src/static/   @KiyomiTsukamoto2345
